In [ ]:
#구글 드라이브 접속 권한 획득
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#ubuntu 업데이트
!apt-get update

#셀레늄 패키지 다운
!pip install selenium

In [ ]:
#크롬드라이버 다운
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (101.0.4951.64-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 71 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
#크롬드라이버 경로 설정
import sys
sys.path.insert(0, '/usr/lib/chromium-browser/chromedriver')

In [ ]:
#코랩에서 작동하도록 옵션 설정
from selenium import webdriver
options = webdriver.ChromeOptions()
options.add_argument('-headless')
options.add_argument('-no-sandbox')
options.add_argument('-disable-dev-shm-usage')

In [ ]:
#크롬드라이버 경로 설정
import sys
sys.path.insert(0, r'C:\Users\JUNGGEONWOO\Downloads\chromedriver_win32')

In [ ]:
!pip install selenium
!pip install webdriver_manager

In [ ]:
#필요한 모듈 import
import selenium
import requests
import pandas as pd
from selenium import webdriver

In [ ]:
# 셀레늄 버전 4 되면서 import 해야 하는 것들
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

#셀레늄에서 html 문서가 생성될 때까지 대기하는 함수 불러오기
from selenium.webdriver.support.ui import WebDriverWait

#셀레늄에서 조건을 걸어줄 수 있는 함수 불러오기
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

## 서울 업소현황

In [ ]:
# 웹 드라이버 객체 생성
browser = webdriver.Chrome('chromedriver', options = options)

In [ ]:
# 페이지 접속
browser.get('https://sg.sbiz.or.kr/godo/stat/upso.sg')

In [ ]:
# 지역 선택
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[1]/ul/li[1]/div/div[2]/a").click()

In [ ]:
# 서울 선택
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div/ul/li[2]/label").click()

In [ ]:
# 구 전체
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[2]/div/ul/li[1]/label").click()

In [ ]:
# 확인
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[2]/a[2]/span").click()

In [ ]:
# 현황 보기
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[2]/a/span").click()

In [ ]:
# 크롤링
y= browser.find_elements(By.CSS_SELECTOR,'#upsoTable > tr > td')

In [ ]:
# 페이지에 있는 표에서, 각각 열을 하나의 리스트로 받아서 리스트를 붙여서 Dataframe으로 만들 계획

# 빈 리스트 만들어주고
i = 0
district = []
Seoul_2021_1_6 = []
Seoul_2021_7_12 = []
Seoul_per_change = []

# 같은 열에 있는 값끼리 모아서 열마다 리스트를 만듬
for x in y :
    if (i == 0) or (i%4 ==0):
        district.append(x.text)
    elif (i%4 ==1):
        Seoul_2021_1_6.append(x.text)
    elif (i%4 ==2):
        Seoul_2021_7_12.append(x.text)
    else:
        Seoul_per_change.append(x.text)
    i += 1

In [ ]:
district

['서울특별시',
 '┗ 종로구',
 '┗ 중구',
 '┗ 용산구',
 '┗ 성동구',
 '┗ 광진구',
 '┗ 동대문구',
 '┗ 중랑구',
 '┗ 성북구',
 '┗ 강북구',
 '┗ 도봉구',
 '┗ 노원구',
 '┗ 은평구',
 '┗ 서대문구',
 '┗ 마포구',
 '┗ 양천구',
 '┗ 강서구',
 '┗ 구로구',
 '┗ 금천구',
 '┗ 영등포구',
 '┗ 동작구',
 '┗ 관악구',
 '┗ 서초구',
 '┗ 강남구',
 '┗ 송파구',
 '┗ 강동구']

In [ ]:
# 확인 결과, 지역 이름에는 ┗ 가 붙어 있음. 혹시 모르니 제거
for i in range(len(district)):
    if district[i].startswith("┗"):
        district[i] = district[i][2:]

In [ ]:
# DataFrame 만들기
Seoul_21_df = pd.DataFrame([district, Seoul_2021_1_6, Seoul_2021_7_12, Seoul_per_change]).transpose()
Seoul_21_df.columns=["행정구역","21'상","21'하","증감률"]

In [ ]:
Seoul_21_df

     행정구역     21'상     21'하      증감률
0   서울특별시  346,631  340,568   -1.75%
1     종로구   13,289   13,180   -0.82%
2      중구   16,473   16,293   -1.09%
3     용산구   11,076   10,718   -3.23%
4     성동구   10,290   10,348    0.56%
5     광진구   14,474   13,285   -8.21%
6    동대문구   12,490   12,177   -2.51%
7     중랑구   10,720   10,852    1.23%
8     성북구   12,715   12,621   -0.74%
9     강북구    7,952    8,210    3.24%
10    도봉구    8,336    8,265   -0.85%
11    노원구   11,784   11,351   -3.67%
12    은평구   12,149   11,918    -1.9%
13   서대문구    9,850    9,528   -3.27%
14    마포구   14,697   14,994    2.02%
15    양천구   10,474   10,795    3.06%
16    강서구   15,888   15,944    0.35%
17    구로구   13,108   13,246    1.05%
18    금천구    9,457    9,590    1.41%
19   영등포구   17,279   15,554   -9.98%
20    동작구    9,130    9,221       1%
21    관악구   14,388   12,943  -10.04%
22    서초구   20,142   19,737   -2.01%
23    강남구   34,913   32,688   -6.37%
24    송파구   18,628   19,108    2.58%
25    강동구   14,346   14,230   -0.81%

## 서울 지역현황

In [ ]:
# 웹 드라이버 객체 생성
browser = webdriver.Chrome('chromedriver', options = options)

In [ ]:
# 페이지 접속
browser.get("https://sg.sbiz.or.kr/godo/stat/area.sg")

In [ ]:
# 지역 선택
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[1]/ul/li[1]/div/div[2]/a").click()

In [ ]:
# 서울 선택
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div/ul/li[2]/label").click()

In [ ]:
# 구 전체
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[2]/div/ul/li[1]/label").click()

In [ ]:
# 확인
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[2]/a[2]/span").click()

In [ ]:
# 현황 보기
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[2]/a/span").click()

In [ ]:
# 크롤링
Y= browser.find_elements(By.CSS_SELECTOR,'#tableBody > tr > td')

In [ ]:
# District는 아까 만들었으니 pass, 나머지 열은 동일한 방식

i=0
Seoul_households = []
Seoul_population = []
Seoul_facilities = []
Seoul_attrac_fac = []
Seoul_area = []
Seoul_store = []
Seoul_store_house = []
Seoul_fac_house = []
for x in Y:
    if (i == 0) or (i%9 ==0):
        pass
    elif (i%9 == 1):
        Seoul_households.append(x.text)
    elif (i%9 == 2):
        Seoul_population.append(x.text)
    elif (i%9 == 3):
        Seoul_facilities.append(x.text)
    elif (i%9 == 4):
        Seoul_attrac_fac.append(x.text)
    elif (i%9 == 5):
        Seoul_area.append(x.text)
    elif (i%9 == 6):
        Seoul_store.append(x.text)
    elif (i%9 == 7):
        Seoul_store_house.append(x.text)
    else:
        Seoul_fac_house.append(x.text)
    i +=1

In [ ]:
# DataFrame 만들기
Seoul_21_df2 = pd.DataFrame([Seoul_households, Seoul_population, Seoul_facilities, Seoul_attrac_fac, Seoul_area, Seoul_store, Seoul_store_house, Seoul_fac_house]).transpose()
Seoul_21_df2.columns=["총가구수", "총인구수","주요시설수","집객시설수","아파트 면적당 기준시가","업소수","업소당가구수","업소당시설물수"]

In [ ]:
Seoul_21 = pd.concat([Seoul_21_df,Seoul_21_df2], axis=1)

In [ ]:
Seoul_21

,행정구역,21'상,21'하,증감률,총가구수,총인구수,주요시설수,집객시설수,아파트 면적당 기준시가,업소수,업소당가구수,업소당시설물수
0,서울특별시,"346,631","340,568",-1.75%,"4,178,446","9,957,557","30,681","37,052","9,590,383","355,260",12,0.19
1,종로구,"13,289","13,180",-0.82%,"73,063","154,995","1,084","2,665","7,908,133","16,079",5,0.23
2,중구,"16,473","16,293",-1.09%,"57,901","122,273","1,150","4,127","9,151,212","20,971",3,0.25
3,용산구,"11,076","10,718",-3.23%,"107,467","232,912",762,"1,081","14,679,558","11,123",10,0.17
4,성동구,"10,290","10,348",0.56%,"126,703","296,259",929,918,"11,134,022","10,060",13,0.18
5,광진구,"14,474","13,285",-8.21%,"158,398","359,503","1,142","1,584","9,968,917","15,189",10,0.18
6,동대문구,"12,490","12,177",-2.51%,"160,101","358,870","1,293","1,578","8,727,113","13,300",12,0.22
7,중랑구,"10,720","10,852",1.23%,"177,090","413,685",937,"1,096","7,864,221","11,434",15,0.18
8,성북구,"12,715","12,621",-0.74%,"190,729","457,737","1,305","1,385","8,137,599","14,294",13,0.19
9,강북구,"7,952","8,210",3.24%,"140,764","328,539",775,"1,045","6,700,235","8,807",16,0.21
10,도봉구,"8,336","8,265",-0.85%,"136,578","349,553",806,752,"6,687,763","8,790",16,0.18
11,노원구,"11,784","11,351",-3.67%,"219,841","571,003","1,329","1,080","8,402,235","12,250",18,0.2
12,은평구,"12,149","11,918",-1.9%,"202,889","495,941","1,154","1,059","7,256,288","11,345",18,0.2
13,서대문구,"9,850","9,528",-3.27%,"133,770","305,836",899,925,"7,587,715","10,169",13,0.18
14,마포구,"14,697","14,994",2.02%,"170,933","385,406","1,155","1,190","10,083,224","14,162",12,0.17
15,양천구,"10,474","10,795",3.06%,"178,581","481,554","1,115",933,"8,327,943","11,268",16,0.18
16,강서구,"15,888","15,944",0.35%,"238,602","586,400","1,404","1,483","7,733,268","13,673",17,0.21
17,구로구,"13,108","13,246",1.05%,"169,765","415,349","1,109","1,306","7,386,241","13,595",12,0.18
18,금천구,"9,457","9,590",1.41%,"104,746","237,493",732,938,"7,615,482","10,570",10,0.16
19,영등포구,"17,279","15,554",-9.98%,"168,139","378,075","1,723","2,009","9,973,668","18,452",9,0.2
20,동작구,"9,130","9,221",1%,"172,309","402,762",961,971,"9,761,970","9,215",19,0.21
21,관악구,"14,388","12,943",-10.04%,"251,363","509,977",994,"1,609","7,905,750","14,605",17,0.18
22,서초구,"20,142","19,737",-2.01%,"171,750","442,380","1,713","1,595","15,392,820","20,143",9,0.16
23,강남구,"34,913","32,688",-6.37%,"235,812","572,266","3,391","2,745","17,238,249","33,946",7,0.18
24,송파구,"18,628","19,108",2.58%,"251,866","645,440","1,519","1,683","12,191,793","17,300",15,0.19
25,강동구,"14,346","14,230",-0.81%,"179,289","453,347","1,300","1,295","10,947,162","14,520",12,0.18

## 경기도 업소현황

스크롤 내리기 작업 필요

In [ ]:
#셀레늄 라이브러리 불러오기
from selenium import webdriver

from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

#키보드 자판을 입력할 수 있는 셀레늄 함수 불러오기
from selenium.webdriver.common.keys import Keys

#시간에 따른 컨트롤이 가능한 라이브러리 불러오기
import time

In [ ]:
# 웹 드라이버 객체 생성
browser = webdriver.Chrome('chromedriver', options = options)

In [ ]:
# 페이지 접속
browser.get("https://sg.sbiz.or.kr/godo/stat/upso.sg")

In [ ]:
# 지역 선택
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[1]/ul/li[1]/div/div[2]/a").click()

In [ ]:
# 스크롤 내리기
itemlist = browser.find_element("xpath", "/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div")

In [ ]:
browser.execute_script("arguments[0].scrollBy(0, 100);", itemlist)

In [ ]:
# 경기도 선택
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div/ul/li[10]/label").click()

In [ ]:
# 시군구 전체
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[2]/div/ul/li[1]/label").click()

In [ ]:
# 확인
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[2]/a[2]/span").click()

In [ ]:
# 현황 보기
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[2]/a/span").click()

In [ ]:
# 크롤링
z= browser.find_elements(By.CSS_SELECTOR,'#upsoTable > tr > td')

In [ ]:
# 페이지에 있는 표에서, 각각 열을 하나의 리스트로 받아서 리스트를 붙여서 Dataframe으로 만들 계획

# 빈 리스트 만들어주고
i = 0
district_Gyeonggi = []
Gyeonggi_2021_1_6 = []
Gyeonggi_2021_7_12 = []
Gyeonggi_per_change = []

# 같은 열에 있는 값끼리 모아서 열마다 리스트를 만듬
for x in z :
    if (i == 0) or (i%4 ==0):
        district_Gyeonggi.append(x.text)
    elif (i%4 ==1):
        Gyeonggi_2021_1_6.append(x.text)
    elif (i%4 ==2):
        Gyeonggi_2021_7_12.append(x.text)
    else:
        Gyeonggi_per_change.append(x.text)
    i += 1

In [ ]:
district_Gyeonggi

['경기도',
 '┗ 수원시',
 '┗ 성남시',
 '┗ 의정부시',
 '┗ 안양시',
 '┗ 부천시',
 '┗ 광명시',
 '┗ 평택시',
 '┗ 동두천시',
 '┗ 안산시',
 '┗ 고양시',
 '┗ 과천시',
 '┗ 구리시',
 '┗ 남양주시',
 '┗ 오산시',
 '┗ 시흥시',
 '┗ 군포시',
 '┗ 의왕시',
 '┗ 하남시',
 '┗ 용인시',
 '┗ 파주시',
 '┗ 이천시',
 '┗ 안성시',
 '┗ 김포시',
 '┗ 화성시',
 '┗ 광주시',
 '┗ 양주시',
 '┗ 포천시',
 '┗ 여주시',
 '┗ 연천군',
 '┗ 가평군',
 '┗ 양평군']

In [ ]:
# 서울과 동일하게 지역 이름에 있는 "┗ "제거
for i in range(len(district_Gyeonggi)):
    if district_Gyeonggi[i].startswith("┗"):
        district_Gyeonggi[i] = district_Gyeonggi[i][2:]

In [ ]:
# DataFrame 만들기
Gyeonggi_21_df = pd.DataFrame([district_Gyeonggi, Gyeonggi_2021_1_6, Gyeonggi_2021_7_12, Gyeonggi_per_change]).transpose()
Gyeonggi_21_df.columns=["행정구역","21'상","21'하","증감률"]

In [269]:
Gyeonggi_21_df

    행정구역     21'상     21'하      증감률
0    경기도  598,036  582,321   -2.63%
1    수원시   51,573   49,486   -4.05%
2    성남시   41,309   40,612   -1.69%
3   의정부시   17,774   17,795    0.12%
4    안양시   26,496   25,056   -5.43%
5    부천시   26,831   26,225   -2.26%
6    광명시    9,695    9,606   -0.92%
7    평택시   26,327   26,816    1.86%
8   동두천시    5,753    5,581   -2.99%
9    안산시   30,605   28,530   -6.78%
10   고양시   49,061   42,525  -13.32%
11   과천시    2,483    2,336   -5.92%
12   구리시    8,443    8,581    1.63%
13  남양주시   27,496   27,929    1.57%
14   오산시   10,491   10,269   -2.12%
15   시흥시   20,952   20,918   -0.16%
16   군포시    9,710    7,706  -20.64%
17   의왕시    5,881    4,849  -17.55%
18   하남시   10,868   11,478    5.61%
19   용인시   40,603   39,920   -1.68%
20   파주시   24,800   24,793   -0.03%
21   이천시   15,162   15,016   -0.96%
22   안성시   11,833   10,422  -11.92%
23   김포시   21,854   22,147    1.34%
24   화성시   32,087   32,950    2.69%
25   광주시   18,262   18,331    0.38%
26   양주시   12,429   12,365   -0.51%
27   포천시   12,435   12,222   -1.71%
28   여주시    6,810    6,732   -1.15%
29   연천군    3,312    3,185   -3.83%
30   가평군    5,869    5,838   -0.53%
31   양평군    7,529    7,374   -2.06%

## 경기도 지역현황

In [255]:
# 웹 드라이버 객체 생성
browser = webdriver.Chrome('chromedriver', options = options)

In [256]:
# 페이지 접속
browser.get("https://sg.sbiz.or.kr/godo/stat/area.sg")

In [257]:
# 지역 선택
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[1]/ul/li[1]/div/div[2]/a").click()

In [258]:
# 스크롤 내리기
itemlist = browser.find_element("xpath", "/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div/ul")

In [259]:
browser.execute_script("arguments[0].scrollBy(0, 100);", itemlist)

In [ ]:
# 경기도 선택
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[1]/div/ul/li[10]").click()

In [262]:
# 구 전체
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[1]/div/ul/li[2]/div/ul/li[1]").click()

In [263]:
# 확인
browser.find_element("xpath","/html/body/div[2]/div/div[2]/div/div[2]/a[2]").click()

In [264]:
# 현황 보기
browser.find_element("xpath","/html/body/div[1]/div[2]/div[1]/div[2]/div/div/div[1]/div/div[2]/a").click()

In [265]:
# 크롤링
Z= browser.find_elements(By.CSS_SELECTOR,'#tableBody > tr > td')

In [271]:
# District_Geonggi는 아까 만들었으니 pass, 나머지 열은 동일한 방식

i=0
Gyeonggi_households = []
Gyeonggi_population = []
Gyeonggi_facilities = []
Gyeonggi_attrac_fac = []
Gyeonggi_area = []
Gyeonggi_store = []
Gyeonggi_store_house = []
Gyeonggi_fac_house = []
for x in Z:
    if (i == 0) or (i%9 ==0):
        pass
    elif (i%9 == 1):
        Gyeonggi_households.append(x.text)
    elif (i%9 == 2):
        Gyeonggi_population.append(x.text)
    elif (i%9 == 3):
        Gyeonggi_facilities.append(x.text)
    elif (i%9 == 4):
        Gyeonggi_attrac_fac.append(x.text)
    elif (i%9 == 5):
        Gyeonggi_area.append(x.text)
    elif (i%9 == 6):
        Gyeonggi_store.append(x.text)
    elif (i%9 == 7):
        Gyeonggi_store_house.append(x.text)
    else:
        Gyeonggi_fac_house.append(x.text)
    i +=1

In [ ]:
# DataFrame 만들기
Gyeonggi_21_df2 = pd.DataFrame([Gyeonggi_households, Gyeonggi_population, Gyeonggi_facilities, Gyeonggi_attrac_fac, Gyeonggi_area, Gyeonggi_store, Gyeonggi_store_house, Gyeonggi_fac_house]).transpose()
Gyeonggi_21_df2.columns=["총가구수", "총인구수","주요시설수","집객시설수","아파트 면적당 기준시가","업소수","업소당가구수","업소당시설물수"]

In [273]:
Gyeonggi_21 = pd.concat([Gyeonggi_21_df,Gyeonggi_21_df2], axis=1)

In [274]:
Gyeonggi_21

,행정구역,21'상,21'하,증감률,총가구수,총인구수,주요시설수,집객시설수,아파트 면적당 기준시가,업소수,업소당가구수,업소당시설물수
0,경기도,"598,036","582,321",-2.63%,"4,925,290","12,583,094","41,624","58,249","6,292,004","598,863",8,0.17
1,수원시,"51,573","49,486",-4.05%,"467,635","1,189,795","4,026","5,435","6,257,551","55,660",8,0.17
2,성남시,"41,309","40,612",-1.69%,"392,992","973,188","3,894","4,772","9,470,001","51,303",8,0.17
3,의정부시,"17,774","17,795",0.12%,"173,546","434,769","1,611","2,052","5,396,266","22,541",8,0.16
4,안양시,"26,496","25,056",-5.43%,"223,425","595,542","2,104","2,847","7,566,859","30,674",7,0.16
5,부천시,"26,831","26,225",-2.26%,"328,513","848,593","2,590","3,332","6,014,841","31,052",11,0.19
6,광명시,"9,695","9,606",-0.92%,"128,034","343,480",784,952,"7,252,676","11,315",11,0.15
7,평택시,"26,327","26,816",1.86%,"192,130","465,544","1,667","2,584","4,637,380","26,173",7,0.16
8,동두천시,"5,753","5,581",-2.99%,"42,268","98,101",423,588,"3,090,704","5,612",8,0.18
9,안산시,"30,605","28,530",-6.78%,"282,071","695,793","2,393","3,152","5,643,152","31,034",9,0.18
10,고양시,"49,061","42,525",-13.32%,"395,446","1,029,854","3,338","4,595","6,906,939","51,656",8,0.15
11,과천시,"2,483","2,336",-5.92%,"24,663","67,677",261,176,"16,751,930","2,569",10,0.17
12,구리시,"8,443","8,581",1.63%,"71,653","186,325",652,797,"7,564,479","9,748",7,0.15
13,남양주시,"27,496","27,929",1.57%,"249,597","660,625","1,949","2,189","5,525,693","25,545",10,0.16
14,오산시,"10,491","10,269",-2.12%,"81,953","208,331",611,929,"5,501,888","9,480",9,0.16
15,시흥시,"20,952","20,918",-0.16%,"154,743","388,025","1,132","1,822","5,475,461","17,688",9,0.17
16,군포시,"9,710","7,706",-20.64%,"105,761","284,203",900,"1,076","7,474,180","10,992",10,0.18
17,의왕시,"5,881","4,849",-17.55%,"58,995","158,281",518,436,"7,752,878","5,963",10,0.16
18,하남시,"10,868","11,478",5.61%,"71,899","179,106",600,715,"10,230,287","9,086",8,0.14
19,용인시,"40,603","39,920",-1.68%,"356,563","980,268","2,663","3,623","6,792,720","39,806",9,0.16
20,파주시,"24,800","24,793",-0.03%,"173,256","426,638","1,347","2,175","5,794,159","21,896",8,0.16
21,이천시,"15,162","15,016",-0.96%,"82,759","208,480",857,"1,396","3,830,721","14,763",6,0.15
22,안성시,"11,833","10,422",-11.92%,"75,095","181,204",736,"1,095","4,049,911","10,433",7,0.18
23,김포시,"21,854","22,147",1.34%,"135,506","354,575","1,100","1,632","5,655,028","16,832",8,0.16
24,화성시,"32,087","32,950",2.69%,"235,683","619,539","1,795","2,993","5,640,059","29,290",8,0.16
25,광주시,"18,262","18,331",0.38%,"126,112","316,529",865,"1,618","5,451,410","16,232",8,0.15
26,양주시,"12,429","12,365",-0.51%,"80,188","205,377",691,"1,002","3,990,192","10,035",8,0.17
27,포천시,"12,435","12,222",-1.71%,"67,935","154,672",573,"1,267","3,256,692","11,074",6,0.17
28,여주시,"6,810","6,732",-1.15%,"47,345","110,833",501,669,"3,516,130","6,175",8,0.19
29,연천군,"3,312","3,185",-3.83%,"21,500","45,828",259,324,"2,523,048","2,743",8,0.21
30,가평군,"5,869","5,838",-0.53%,"28,833","62,455",297,"1,070","3,444,891","4,971",6,0.27
31,양평군,"7,529","7,374",-2.06%,"49,191","109,460",487,936,"4,361,203","6,522",8,0.22